.portrait {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.container.wide {
    max-width:none;
}

.person-card-wrapper {
    margin:10px;
    background:rgba(0,0,0,0.8)
}